{
  "extends": "tamia",
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "strict": [
      2,
      "global"
    ]
  },
  "globals": {
    "jest": false,
    "expect": false
  }
}